<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.strage.dao.TestMapper">
    <resultMap id="BaseResultMap" type="com.example.strage.pojo.WSCLDto">
        <result column="clnl" property="clnl" jdbcType="VARCHAR"/>
        <result column="xmmc" property="xmmc" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="query" resultType="java.lang.String" resultMap="BaseResultMap">
        select clnl,xmmc from wscl_city where xmdm = #{xmdm}
    </select>

</mapper>